* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-body: #063f61;
  --background-card-one: #256a92;
  --background-card-two: #3e7b9f;
  --background-card-three: #659bbb;
  --white: #ffffff;
  --darkgrey: #111111;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: var(--background-body);
    font-family: 'Prompt', sans-serif;
}

main {
    margin: auto;
}

main h1{
    font-size: 45px;
    font-weight: bold;
    color: var(--white);
    opacity: 0.8;
    text-shadow: 4px 4px 0px var(--darkgrey);
    margin-bottom: 30px;
}

main .clock-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main .clock-panel .clock-card{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 5px 5px 0px var(--darkgrey);
    cursor: default;
}

main .clock-panel .clock-card:hover span{
    font-size: 35px;
}

main .clock-panel .clock-card:nth-child(1){
    background: var(--background-card-one);
}

main .clock-panel .clock-card:nth-child(2){
    background: var(--background-card-two);
}

main .clock-panel .clock-card:nth-child(3){
    background: var(--background-card-three);
}

main .clock-panel .clock-card span{
    color: var(--white);
    font-size: 30px;
    font-weight: bold;
    opacity: 0.8;
    text-shadow: 3px 3px 0px var(--darkgrey);
    transition: all .4s ease;
}

footer{
    margin: auto;
    margin-top: -250px;
    font-size: 18px;
    color: var(--white);
    display: flex;
}

footer p{
    margin-right: 10px;
    opacity: 0.7;
    text-shadow: 3px 3px 0px var(--darkgrey);
}

footer a{
    color: var(--white);
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.5);
}
